.footer {
    border-top:2px solid black;
    text-align: center;
    padding-top:1%;
  
}

.headdiv {
    border-bottom:2px solid black;
    padding-top:5px;
    padding-bottom: 5px;
}

.buttdiv {
    text-align: right;  
}

.titlediv {
    padding-top: 5px;
    text-align: left;
}

button {
    box-shadow: 2px 2px;
}

.midrow {
    margin:10px 20px;
    border:2px solid black;
    border-radius: 5px;
    padding:10px 10px 30px 10px;
}

.info-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.formpart {
    margin-top:20px;
}

.formnam {
    width:100px;
}
.forminp {
    border-radius:5px;
    border:1px solid black;
    outline: none;
    text-decoration: none;
}

.formpartspec {
    background-color: rgb(206, 192, 192);
    padding-top:10px;
    padding-bottom: 20px;
    border-radius: 10px;  
}

.spec {
    padding-top:10px;
}

.formsel {
    width:187px;
    padding:2px;
    border-radius: 5px;
}

.adddiv1{
    display:none;
}

#openp,
#openn{
    opacity:1;
    position:fixed;
    width:30%;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    border:1px solid grey;
    border-radius: 5px;
}

.modal-body{
    text-align: center;
}


